<html>
  <head>
    <link rel= "stylesheet" href="hoge.css">
  </head>
  <body>
  <%# header %>
    <%= render "shared/header"%>
  <%# header %>
    <div class = "menu">
      <div class = "container">
        <h2><%= current_user.nickname %></h2>
        <div class = "menu-card-wrapper">
          <div class = "menu-card">

          <%# 本の一覧 %>
          <% @books.each do |book| %>
            <li class='list'>
            <%= link_to book_path(book.id), local: true do %>
              <div class='item-img-content'>
              <% if book.image.attached? %>
                  <%= image_tag book.image %>
                <% end %>
                <%# <%= image_tag book.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= book.name %>
                </h3>
              </div>
            <% end %>
          <% end %>
          </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
          <%# 本の一覧 %>
          </div>
        </div>
      </div>
   </div>
   <%= render "shared/footer" %>
  </body>
</html>