<header>
      <div class = "heading">
       <h1 class = "title"><a href= "/"> <%= image_tag 'logo.png' %></a></h1>
      </div>
      <div class = "navbar">
        <ul class='nav-lists'>
          <% if user_signed_in? %>
             <li><button type="button" class = "btn-border"> <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></button> </li> 
             <li><button type="button" class = "btn-border"> <%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "logout" %></button> </li>
           <% else %>
            <li><button type="button" class = "btn-border" ><%= link_to 'ログイン', "/users/sign_in", class: "login" %></button></li>
            <li><button type="button" class = "btn-border"><%= link_to 'サインイン', "/users/sign_up", class: "sign-up" %></button></li>
          <% end %> 
        </ul>
      </div>
</header>