<html>
  <head>
    <meta charset="UTF-8">
    <title>book_memo</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <header>
      <div class = "heading">
       <h1 class = "title"><a href= "/"> <%= image_tag 'logo.png' %></a></h1>
      </div>
      <div class = "navbar">
        <ul class='nav-lists'>
          <% if user_signed_in? %>
             <li><button type="button" class = "btn-border"> <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></button> </li> 
             <li><button type="button" class = "btn-border"> <%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "logout" %></button> </li>
           <% else %>
            <li><button type="button" class = "btn-border" ><%= link_to 'LOG IN', "/users/sign_in", class: "login" %></button></li>
            <li><button type="button" class = "btn-border"><%= link_to 'SAIN IN', "/users/sign_up", class: "sign-up" %></button></li>
          <% end %> 
        </ul>
      </div>
    </header>
      <div class="contact">
        <form class = "contact-form">
        <div class = "fade">
           <%# <input type="text" placeholder="本のタイトルは？" class="name_form"> %>
         <%= form_tag books_path, :method => 'get' do %> 
          <p>
           <%= text_field_tag :search, params[:search] %>
           <%= submit_tag 'Search', :name => nil %>
          </p>
         <% end %>


         


        </div>
        </form>
      </div>
      <footer>
      <p class = "footer">©︎book_memo</p>
      </footer>
  </body>
</html>
