<html>
<%= render "shared/header"%>
<body>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @book.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @book.image ,class:"item-box-img" %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @book.category.name %></td>
        </tr>
        <% if current_user.id == @book.user_id%>
          <%= link_to book_path(@book), method: :delete  do %>
            <i class="fas fa-trash"></i>
          <% end %>
          <%= link_to edit_book_path(@book), method: :get do%>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@book, @comment], remote: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" ,rows: "2"%>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    <div class="comments">
      <h4>＜感想一覧＞</h4>
      <div id = "messages">
        <% if @comments %>
          <% @comments.reverse_each do |comment| %>
            <p class = "com">
           <%= link_to user_path(comment.user_id), class: "user-nickname"  do %>
            <%= comment.user.nickname %> <a>さん</a>
            <a>:</a><%= comment.text %>
           <% end %>
          

          <% if current_user.already_liked?(comment) %>
              <%= link_to comment_like_path(comment), method: :delete  do%>
                <i class="fas fa-heart"><%= comment.likes.count %></i>
              <% end %>
            <% else %>
               <%= link_to comment_likes_path(comment), method: :post  do %>
                 <i class="far fa-heart"><%= comment.likes.count %></i>
               <% end %>
            <% end %>

            <%= link_to [@book, comment], method: :delete, class:'delete' do %>
             <i class="fas fa-trash-alt"></i> 
           <% end %>
            </p>
          <% end %>
       <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
</body>
</html>
